/* Styles for the entire signup container */
.signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0; 
}

/* Styles for the signup form */
.form {
  background: #FFFFFF;
  max-width: 360px;
  width: 100%;
  padding: 30px; /* Reduced padding for a cleaner look */
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: auto;
  border-radius: 8px;
}

/* Styles for the signup input fields */
.form .MuiInputBase-input {
  width: 100%;
  margin-bottom: 20px; /* Increased margin for better separation */
  padding: 14px;
  box-sizing: border-box; 
}

/* Styles for the signup button */
.form .MuiButton-containedPrimary {
  width: 100%;
  margin-top: 20px; /* Increased margin for better separation */
  padding: 14px; /* Consistent padding */
}

/* Styles for the error message */
.form .text-danger {
  margin: 12px 0 0; /* Increased top margin for better separation */
  color: #b3b3b3;
  font-size: 12px;
}

/* Styles for the success message */
.form .success-message {
  color: #4CAF50;
  font-size: 16px;
  margin-top: 16px; /* Adjusted margin for better separation */
}

/* Styles for the link to login */
.form .btn-default {
  margin-top: 20px; /* Increased margin for better separation */
  padding: 14px; /* Consistent padding */
}

/* Additional styles as needed */
.btn-back {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 20px;
}
