/* Styles for the entire signup container */
.signup-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

/* Styles for the signup form */
.signup-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Styles for the signup input fields */
.signup-page .form .MuiInputBase-input {
  width: 100%;
}

/* Styles for the signup button */
.signup-page .form .MuiButton-containedPrimary {
  width: 100%;
}

/* Styles for the error message */
.signup-page .form .text-danger {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

/* Styles for the success message */
.signup-page .success-message {
  color: #4CAF50;
  font-size: 16px;
  margin-top: 15px;
}
