/* Styles for the entire login container */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

/* Styles for the login form */
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}


/* Styles for the login button */
.login-page .form .MuiButton-containedPrimary {
  width: 100%;
  margin-top: 10px;
}

/* Styles for error message */
.login-page .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.login-page .message a {
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}
