/* Styles for the entire login container */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFFFF;
}

/* Styles for the login form */
.form {
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

/* Styles for the login button */
.form .MuiButton-containedPrimary {
  width: 100%;
  margin: 10px 0;
}

/* Styles for error message */
.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.message a {
  color: #4CAF50;
  text-decoration: none;
}
