
.admin-users-container {
    text-align: center;
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  input {
    margin: 10px;
    padding: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  span {
    flex: 1;
  }
  
  button.update-button {
    background-color: #28a745;
  }
  
  button.delete-button {
    background-color: #dc3545;
    margin-left: 10px;
  }
  